@import 'styles/configs';
@import 'styles/mixins';
.root {
  compose-with: global(p-y--sm) global(p-x--xs);
}
.createBtn {
  compose-with: global(btn) global(btn--primary) global(btn--sm) global(btn--block);
}
.list {
  compose-with: global(list) global(list--flat) global(p-x--0) global(m-y--xs);
}
.item {
  compose-with: global(p-y--sm) global(t--md);
  cursor: default;
  &Active {
    compose-with: item;
    background-color: white;
  }
}
