@import 'styles/configs';
@import 'styles/mixins';
.flat-pagination {
  margin-top: 1em;
  margin-bottom: 1em;
  &__item {
    &:hover {
      color: $material-orange--deep;
    }
    &--more {
      vertical-align: 20%;
    }
    &--current {
      @include color-variant(white, $brand--primary);
      border-radius: 0.2em;
    }
  }
  &__item, &__prev, &__next {
    padding: 0.2em 0.4em;
    font-size: 85%;
    cursor: pointer;
  }
  &__prev--disabled, &__next--disabled, &__item--current, &__item--more {
    pointer-events: none;
  }
  &__prev {
    margin-right: 1em;
  }
  &__next {
    margin-left: 1em;
  }
  &__prev .fa, &__next .fa {
    font-weight: bold;
  }
}
