.badge {
  display: inline-block;
  font-size: 60%;
  vertical-align: text-top;
  padding: .2em .6em;
  border-radius: 48%;
  text-align: center;
  background-color: red;
  color: white;
  margin-left: 0.4em;
}
