@import 'styles/configs';
@import 'styles/mixins';
.label {
  $type-variants: (
    primary: (white, $brand--primary)
  );
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  line-height: 1;
  white-space: nowrap;
  vertical-align: 0.12em;
  border-radius: .25rem;
  @each $variant, $conf in $type-variants {
    &--#{$variant} {
      @include color-variant(nth($conf, 1), nth($conf, 2));
    }
  }
  &--sm#{&} {
    font-size: 60%;
  }
}
