@import 'styles/configs';
@import 'styles/mixins';
.link {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  &--flat#{&}, &--flat#{&}:hover {
    text-decoration: none;
  }
}
