.tangram-suggestion {
  td {
    padding: 0.6em 1em;
    cursor: pointer;
  }
}
.bmap-search {
  position: relative;
  &__suggestions {
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    z-index:1;
    &--hidden {
      display: none;
    }
  }
  &__suggestion {
    padding: 0.6em 1em;
    cursor: pointer;
    font-size: 0.8em;
    margin-top: 0.2em;
  }
}
