@import 'styles/configs';
@import 'styles/mixins';
.root {
  compose-with: global(frow) global(f-jc-fe) global(f-ai-c);
}
.searchBox {
  compose-with: global(p-l--xs);
  @include color-variant(null, lighten($grey--light, 8%));
  width: 18em;
  border-radius: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: width 0.3s ease;
  &Active {
    width: 24em;
    border: 2px solid $brand--primary;
  }
}
.input {
  compose-with: global(bare);
  font-size: 12px;
}
.searchCombo {
  compose-with: global(m-t--xs) global(p-x--xs);
  @include color-variant(null, lighten($grey--light, 8%));
}

