@import 'styles/configs';
@import 'styles/mixins';
.root {
  compose-with: global(rel);
  outline: none;
}
.root :global(.CodeMirror) {
  height: 100%;
  padding: 0.6em;
  z-index: 0;
}
.preview {
  compose-with: global(h--full) global(v--full) global(abs) global(abs--left) global(abs--top);
  z-index: 100;
  background-color: white;
}
