@import 'styles/mixins/size';
.avatar {
  border-radius: 0.3em;
  &--round#{&} {
    border-radius: 50%;
  }
  &--sm {
    @include size(1.8em);
    border-radius: 0.3em;
  }
  &--md {
    @include size(2.4em);
    border-radius: 0.4em;
  }
}
