.media {
  &-section,
  &__thumb,
  &__title,
  &__meta {
    display: inline-block;
  }

  &,
  &-block,
  &-metas,
  &-details {
    display: block;
  }


  &,
  &-section {
    white-space: nowrap;
  }

  &-details {
    white-space: normal;
  }

  &-section {
    vertical-align: top;
  }

  &__thumb {
    vertical-align: middle;
    margin-right: 0.4em;
  }
  &__title {
    font-weight: bold;
    font-size: 1em;
  }
  &__meta {
    font-size: 86%;
  }
  &__extra {
    font-size: 86%;
  }
  &-metas {
    font-size: 88%;
  }
  &__thumb + &__title {
    vertical-align: middle;
  }
  &__thumb + &-metas {
    text-align: center;
  }

  &__title, &__meta {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
