@import 'styles/configs';
@import 'styles/mixins';
@import 'styles/modules/flex';
.redal {
  @extend .fcol;
  @extend .f-jc-c;
  @extend .f-ai-c;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
  z-index: 100;
  &-inner {
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
  }
  &-x {
    cursor: pointer;
  }
}
