@import 'styles/mixins';
.main {
  compose-with: global(rel) global(h--full) global(x--clip) global(y--clip);
  height: calc(100% - #{$global-action-bar_height});
}
.mainCtrl {
  compose-with: global(h--full) global(frow) global(f-ai-s);
  height: $main__root-ctrl_height;
}
.chaptersCtrl {
  compose-with: global(v--full);
  @include flex-item(1);
}
.notebooksSelector {
  compose-with: global(v--full);
}
.workspace {
  compose-with: global(h--full) global(frow) global(f-jc-sb) global(f-ai-s) global(rel);
  height: calc(100% - #{$main__root-ctrl_height});
}
.pageEditor {
  compose-with: global(v--full);
  @include flex-item(4);
}
.pagesCtrl {
  compose-with: global(v--full);
  @include flex-item(1);
  //background-image: linear-gradient(to right, rgb(245,245,245), rgb(214,212,214));
  @include color-variant(null, lighten($grey--light, 9%));
}

