.cursor{
  &--pointer {
    cursor: pointer;
  }
  &--disabled {
    cursor: not-allowed;
  }
  &--text {
    cursor: text;
  }
  &--auto {
    cursor: auto;
  }
}
.event-disabled {
  pointer-events: none;
}
