<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="bronote"/>
  <meta name="format-detection" content="telephone=no;email=no"/>
  <meta name="google" content="notranslate"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--
  <link rel="shortcut icon" type="image/x-icon" href="<%= webpackConfig.output.publicPath %>statics/images/favicon.ico"/>
  <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>statics/libs/normalize.css/normalize.css" />
  <link rel="stylesheet" href="<%= webpackConfig.output.publicPath %>statics/libs/font-awesome/css/font-awesome.min.css" />
  -->
</head>
<body>
  <div id="app-root"><!--__HTML__--></div>
  <!-- <script src="//cdn.bootcss.com/pouchdb/5.4.3/pouchdb.min.js"></script> -->
  <script><!--__INITIAL_STATE__--></script>
</body>
</html>
