@import 'styles/configs';
@import 'styles/mixins';
.root {
  compose-with: global(frow) global(frow-jc-sa) global(frow-ai-c) global(list) global(list--flat) global(m-y--0) global(p-x--0);
}
.action {
  compose-with: global(btn) global(p-x--sm) global(p-y--sm);
  @include color-variant(white);
  cursor: pointer;
}
.create {
  compose-with: action global(icon) global(icon-plus);
}
