@import 'styles/configs';
$trans-duration: 0.25s;
$trans-easing: ease-in-out;
$color--normal: $brand--primary;
$color--normal: currentColor;
$color--valid: $brand--success;
$color--invalid: $brand--danger;

@mixin size-variant($base, $factor) {
  $variant-row: form-control#{&};
  %#{$variant-row} {
    font-size: $factor * 1em;
    line-height: 1.6;
  }
  &#{$base}--with-label {
    padding-top: $factor * 1.2em;
  }
  &#{$base}--with-info {
    padding-bottom: $factor * 1.2em;
  }
  &#{$base}--with-info #{$base}-border,
  &#{$base}--with-info #{$base}-underline{
    bottom: $factor * 1.2em;
  }
  &#{$base} {
    #{$base}-field {
      @extend %#{$variant-row};
    }
    #{$base}-label {
      font-size: $factor * 0.82em;
      line-height: 1;
      transform: translate(0,-100%);
      padding-left: 0;
    }
  }
  &#{$base}#{$base}--pristine,
  &#{$base}#{$base}--blank {
    #{$base}-label {
      @extend %#{$variant-row};
      transform: translate(0,0);
      padding-left: 0.4em;
    }
  }
}

@mixin type-variant() {
  $base: #{&};
  position: relative;
  color: $color--normal;
  width: 100%;
  &-label {
    display: inline-block;
    position: absolute;
    transition-property: transform, font-size, height, line-height, padding-left, left;
    transition-duration: $trans-duration;
    transition-timing-function: $trans-easing;
    pointer-events: none;
    font-weight: bolder;
  }
  &-field {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid;
    padding-left: 0.4em;
    margin: 0;
  }
  &-underline {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    margin-top: -2px;
    height: 2px;
    background-color: $color--normal;
    transition: left $trans-duration $trans-easing, right $trans-duration $trans-easing;
  }
  &-info {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.8em;
    visibility: hidden;
  }

  &--invalid#{&} &-info,
  &--focused#{&} &-info {
    visibility: visible;
  }
  &--valid#{&} &-info {
    visibility: hidden;
  }
  &--focused &-underline {
    left: 0;
    right: 0;
  }
  &:not(#{&}--blank):not(#{&}--pristine) &-label {
    left: 0;
  }
  &--dirty {
  }
  &--pending {
  }

  &--valid {
    color: $color--valid;
  }
  &--valid &-underline {
    background-color: $color--valid;
  }
  &--invalid,
  &--invalid &-field {
    color: $color--invalid;
    border-color: $color--invalid;
  }
  &--invalid &-underline {
    background-color: $color--invalid;
  }
  @include size-variant($base, 1.075);
  &--sm {
    @include size-variant($base, 0.92);
  }
  &--lg {
    @include size-variant($base, 1.2);
  }
  &:focus {
    outline: none;
  }
  // with prefix or suffix
  &--rich &-field {
    border-bottom: none;
  }
  &--rich &-underline {
    height: 1px;
    margin-top: -1px;
  }
  &--rich &-border {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 1px;
    background-color: $color--normal;
  }
}

.paper-input {
  @include type-variant();
  &--bare#{&} {
    padding-top: 0;
  }
}
.paper-textarea {
  @include type-variant();
  &--bare#{&} {
    padding-top: 0;
  }
}
