@mixin chat-message-body($direction: right bottom, $bgc: white) {
  $size: 0.6em;

  $horizontal-direction: right !default;
  $reverse-horizontal-direction: left !default;
  $vertical-direction: bottom !default;
  $reverse-vertical-direction: top !default;

  @if (nth($direction, 1) == left) or (nth($direction, 2) == left) {
    $horizontal-direction: left;
    $reverse-horizontal-direction: right;
  }
  @if (nth($direction, 1) == top) or (nth($direction, 2) == top) {
    $vertical-direction: top;
    $reverse-vertical-direction: bottom;
  }

  margin-#{$horizontal-direction}: $size;
  position: relative;
  z-index: 0;
  background-color: $bgc;
  border-radius: 1.2em;
  padding: $size $size * 1.5;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: $size * 3;
    height: $size * 2;
    z-index: -1;
    border-#{$reverse-horizontal-direction}: $size * 2 solid $bgc;
    border-#{$vertical-direction}-#{$reverse-horizontal-direction}-radius: 100%;
    #{$horizontal-direction}: -$size;
    #{$vertical-direction}: 0;
  }
}
