@import 'styles/configs';
@import 'styles/mixins';
@import 'styles/utils/timing-functions';

$tran_duration: 0.1s;
$tran_easing: $ease-out-sine;
$bgc--on: $green--lime;
$bgc--off: $grey--pale;

@mixin switcher-variant($width: null, $height: null) {
  &__inner {
    $bar_height: 3 * $height / 4;
    @include size($width, $height);
    padding: ($height - $bar_height) / 2 0;
    &::before {
      @include size($width, $bar_height);
      top: 0; bottom: 0; margin: auto;
      border-radius: $bar_height / 2;
    }
    &::after {
      @include size($height);
      border-radius: 50%;
      top: 0;
      box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    }
  }
  &--on &__inner {
    &::before {
      background-color: lighten($bgc--on, 18%);
    }
    &::after {
      background-color: $bgc--on;
      left: $width - $height;
    }
  }
  &--off &__inner {
    &::before {
      background-color: $bgc--off;
    }
    &::after {
      background-color: lighten($bgc--off, 15%);
      left: 0;
    }
  }
}

.switcher {
  display: inline-block;
  cursor: pointer;
  &__label {
    font-size: 80%;
    margin-right: 0.2em;
  }
  &__inner {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    &::before, &::after {
      position: absolute;
      content: "";
      transition: background-color $tran_duration $tran_easing, left $tran_duration $tran_easing;
    }
  }
  @include switcher-variant(3.2rem, 1.6rem);
  &--sm#{&} {
    @include switcher-variant(3.2rem * 1.4, 1.6rem * 1.4);
  }
}
