@import './_vars';

$theme:                                                     light;
// light
$theme_color:                                               white !default;
$theme_color--primary:                                      $brand--primary !default;
$theme_bgc:                                                 white !default;


$global-action-bar_height:                                  3.0rem !default;
$main__root-ctrl_height:                                    3.0rem !default;
